<a href="https://colab.research.google.com/github/will-genius/mlfcworkshop/blob/main/Accidents_Black_spot_Mapping_in_Kenya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
%pip install osmnx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import  folium

In [2]:
!git clone https://github.com/will-genius/fynesse_template.git
import os, subprocess, importlib, sys
sys.path.append("/content/fynesse_template")
import fynesse

Cloning into 'fynesse_template'...
remote: Enumerating objects: 245, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 245 (delta 17), reused 17 (delta 10), pack-reused 218 (from 2)
Receiving objects: 100% (245/245), 157.33 KiB | 2.07 MiB/s, done.
Resolving deltas: 100% (111/111), done.

In [4]:
df_2016= pd.read_excel("kenya-accidents-database.xlsx")
df_2016.head()

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,BRIEF ACCIDENT DETAILS,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date DD/MM/YYYY,Unnamed: 12
0,630,KITUI,MAKUENI,KITUI-ITHOKWE,KITUI SCHOOL,HEAD ON COLLISION,M,26,7.0,M/CYCLIST,1,2016-06-25,so MM/DD/YYYY is the solution :)
1,830,VOI,TAITA TAVETA,MOMBASA-NAIROBI,IKANGA,HEAD ON COLLISION,M,28,25.0,M/CYCLIST,1,2016-06-25,NaN
2,1330,MARIAKANI,KILIFI,MOMBASA-NAIROBI,KATOLANI,THE UNKNOWN M/V HIT THE MOTOR CYCLE,M,A & J,98.0,M/CYCLIST,1,2016-06-25,NaN
3,2100,ONGATA RONGAI,NAKURU,NAKURU-NAIROBI,MAASAI LODGE,THE VEHICLE KNOCKED DOWN A PEDESTRIAN WHO WAS ...,M,65,29.0,PEDESTRIAN,1,2016-06-25,NaN
4,1900,MATUU,MACHAKOS,MATUU-MWINGI,KIVANDINI,THE VEHICLE OVERTOOK A M/CYCLE AND LOST CONTRO...,M,A,10.0,PASSENGER,1,2016-06-25,NaN

In [5]:
df_2016.columns

Index(['TIME 24 HOURS', 'BASE/SUB BASE', 'COUNTY', 'ROAD', 'PLACE',
       'BRIEF ACCIDENT DETAILS', 'GENDER', 'AGE', 'CAUSE CODE', 'VICTIM',
       'NO.', 'Date DD/MM/YYYY', 'Unnamed: 12'],
      dtype='object')

In [7]:
fynesse.access.combine_reports_folder("sample_data/Fatalities", output_dir="combined_reports")

✅ Saved combined_reports/Accidents_2017.xlsx  (files: 187)

{'2017':       S/NO TIME 24 HOURS BASE/SUB BASE      COUNTY                 ROAD  \
 0      1.0           700        MAKUYU     MURANGA      NANYUKI NAIROBI
 1      2.0           600       NYAMIRA     NYAMIRA     NYAMIRA NYAMAIYA
 2      3.0          2200      NAIVASHA      NAKURU       NAIROBI NAKURU
 3      4.0          1000        SAGANA   KIRINYAGA         SAGANA KAGIO
 4      5.0          2245         THIKA      KIAMBU  THIKA  SUPERHIGHWAY
 ...    ...           ...           ...         ...                  ...
 2311   NaN           NaN      CATEGORY  PEDESTRIAN               DRIVER
 2312   NaN           NaN         FATAL           0                    1
 2313   NaN           NaN       SERIOUS           1                    2
 2314   NaN           NaN        SLIGHT           0                    1
 2315   NaN           NaN         TOTAL           1                    4

           PLACE              MV INVOLVED  \
 0         MUKEU      KCE 527P TOYOTA VAN
 1        MAPUTI       KMCE 555X MAKE TVS
 2      NYAMATHI   KCG 688D TOYOTA MATATU
 3       GACHARU  KCF 223W TOYOTA FIELDER
 4        TROJAN    KCF 675B NISSAN TIIDA
 ...         ...                      ...
 2311  PASSENGER             P/PASSENGERS
 2312          1                        2
 2313          2                        2
 2314         11                        0
 2315         14                        4

                                  BRIEF ACCIDENT DETAILS    NAME OF VICTIM  \
 0     THE VEHICLE GOT A TYRE BURST AND ROLLED SEVERA...           UNKNOWN
 1                       THE CYCLE RAMMED INTO THE LORRY  STEPHEN OMWANDAU
 2                   THE VEHICLE KNOCKED DOWN THE VICTIM      PETER IRUNGU
 3                   THE VEHICLE KNOCKED DOWN THE VICTIM           UNKNOWN
 4                   THE VEHICLE KNOCKED DOWN THE VICTIM           UNKNOWN
 ...                                                 ...               ...
 2311                                          P/CYCLIST               NaN
 2312                                                  0               NaN
 2313                                                  0               NaN
 2314                                                  0               NaN
 2315                                                  0                 0

      GENDER  ... Unnamed: 4 Unnamed: 5 Unnamed: 6  Unnamed: 7 Unnamed: 8  \
 0         M  ...        NaN        NaN        NaN         NaN        NaN
 1         M  ...        NaN        NaN        NaN         NaN        NaN
 2         M  ...        NaN        NaN        NaN         NaN        NaN
 3         M  ...        NaN        NaN        NaN         NaN        NaN
 4         F  ...        NaN        NaN        NaN         NaN        NaN
 ...     ...  ...        ...        ...        ...         ...        ...
 2311    NaN  ...        NaN        NaN        NaN         NaN        NaN
 2312    NaN  ...        NaN        NaN        NaN         NaN        NaN
 2313    NaN  ...        NaN        NaN        NaN         NaN        NaN
 2314    NaN  ...        NaN        NaN        NaN         NaN        NaN
 2315      0  ...        NaN        NaN        NaN         NaN        NaN

      Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
 0           NaN         NaN         NaN         NaN         NaN
 1           NaN         NaN         NaN         NaN         NaN
 2           NaN         NaN         NaN         NaN         NaN
 3           NaN         NaN         NaN         NaN         NaN
 4           NaN         NaN         NaN         NaN         NaN
 ...         ...         ...         ...         ...         ...
 2311        NaN         NaN         NaN         NaN         NaN
 2312        NaN         NaN         NaN         NaN         NaN
 2313        NaN         NaN         NaN         NaN         NaN
 2314        NaN         NaN         NaN         NaN         NaN
 2315        NaN         NaN         NaN         NaN         NaN

 [2316 rows x 29 columns]}

In [13]:
df_2017=pd.read_excel("combined_reports/Accidents_2017.xlsx")
#df_2017 = df_2017.dropna(axis=1, how='all')
df_2017 = df_2017.drop(columns=[ 'Unnamed: 0',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'])

df_2017.head(50)

,S/NO,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
0,1.0,700,MAKUYU,MURANGA,NANYUKI NAIROBI,MUKEU,KCE 527P TOYOTA VAN,THE VEHICLE GOT A TYRE BURST AND ROLLED SEVERA...,UNKNOWN,M,A,79,PASSENGER,2.0,2017-10-17
1,2.0,600,NYAMIRA,NYAMIRA,NYAMIRA NYAMAIYA,MAPUTI,KMCE 555X MAKE TVS,THE CYCLE RAMMED INTO THE LORRY,STEPHEN OMWANDAU,M,A,26,M/CYCLIST,1.0,2017-10-17
2,3.0,2200,NAIVASHA,NAKURU,NAIROBI NAKURU,NYAMATHI,KCG 688D TOYOTA MATATU,THE VEHICLE KNOCKED DOWN THE VICTIM,PETER IRUNGU,M,A,60,PEDESTRIAN,1.0,2017-10-17
3,4.0,1000,SAGANA,KIRINYAGA,SAGANA KAGIO,GACHARU,KCF 223W TOYOTA FIELDER,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,11,PEDESTRIAN,1.0,2017-10-17
4,5.0,2245,THIKA,KIAMBU,THIKA SUPERHIGHWAY,TROJAN,KCF 675B NISSAN TIIDA,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,F,A,63,PEDESTRIAN,1.0,2017-10-17
5,NaN,SUMMARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-17
6,NaN,NaN,CATEGORY,PEDESTRIAN,DRIVER,PASSENGER,P/PASSENGERS,P/CYCLIST,NaN,NaN,NaN,M/CYCLIST,TOTAL,NaN,2017-10-17
7,NaN,NaN,FATAL,3,2,0,0,0,NaN,NaN,NaN,1,6,NaN,2017-10-17
8,NaN,NaN,SERIOUS,0,6,0,0,0,NaN,NaN,NaN,0,6,NaN,2017-10-17
9,NaN,NaN,SLIGHT,0,0,0,0,0,NaN,NaN,NaN,0,0,NaN,2017-10-17
10,NaN,NaN,TOTAL,3,8,0,0,0,0,0,0,1,12,NaN,2017-10-17
11,1.0,430,JUJA,KIAMBU,NAIROBI THIKA,JUJA FLY OVER,KCA 105M ISUZU CANTER,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,60,PEDESTRIAN,1.0,2017-08-17
12,2.0,1900,DAGORETTI,NAIROBI,WAIYAKI WAY,MOUNTAIN VIEW,UNKNOWN,HIT AND RUN,UNKNOWN,M,A,NaN,PEDESTRIAN,1.0,2017-08-17
13,3.0,2000,ATHI RIVER,MACHAKOS,NaN,NaN,KCL 549H TOYOTA PASSO AND KMCP 129J,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,J,J,8,PILLION PASSENGER,1.0,2017-08-17
14,4.0,2230,KIKUYU,KIAMBU,THOGOTO GIKAMBURA,SOUTHERN BY PASS FLY OVER,GKB 743E AND KCB 867E/KAX 965Z T/SALOON,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,7,PEDESTRIAN,1.0,2017-08-17
15,5.0,2330,RUIRU,KIAMBU,NAIROBI THIKA SERVICE LANE,KIHUNGURO SHELL PETROL STATION,UNKNOWN,HIT AND RUN,UNKNOWN,M,30,60,PEDESTRIAN,1.0,2017-08-17
16,6.0,NaN,KIKUYU,KIAMBU,GIKAMBURA NDEIYA ROAD,GIKAMBURA SHOPPING CENTRE,UNKNOWN,HIT AND RUN,UNKNOWN,M,A,98,PEDESTRIAN,1.0,2017-08-17
17,7.0,2300,MAGUMU,NYANDARUA,FLYOVER NJAMBINI ROAD,MWENDANDU TRADIND CENTRE,KMCL 800W,THE CYCLE KNOCKED DOWN THE VICTIM AND LANDED I...,JOHN KUNGU,M,A,68,M/CYCLIST,1.0,2017-08-17
18,8.0,2300,MAGUMU,NYANDARUA,FLYOVER NJAMBINI ROAD,MWENDANDU TRADIND CENTRE,KMCL 800W,THE CYCLE KNOCKED DOWN THE VICTIM AND LANDED I...,UNKNOWN,M,A,68,PEDESTRIAN,1.0,2017-08-17
19,9.0,10,MOLO,NAKURU,MOLO TOWNSHIP,MOLO TOWNSHIP,UNKNOWN,HIT AND RUN,WYCLIFFE OKOTH,M,A,98,PEDESTRIAN,1.0,2017-08-17
20,10.0,2000,MAI MAHIU,NAKURU,MAI MAHIU,MAI MAHIU TOWNSHIP,KCC 844W TANKER,THE VICTIM FELL FROM THE TANKER,UNKNOWN,M,A,67,PEDESTRIAN,1.0,2017-08-17
21,11.0,NaN,NAKURU,NAKURU,NAKURU ELEMENTAITA,NGOROFA AREA,KCJ 155W T/MATATU,THE VEHICLE KNOCKED DOWN THE VICTIM,DENNIS NJOROGE,J,15,98,PEDESTRIAN,1.0,2017-08-17
22,12.0,230,GATUNDU,KIAMBU,GATUNDU KENYATTA,MUTOMO,UNKNOWN,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,NaN,PEDESTRIAN,1.0,2017-08-17
23,13.0,40,STAREHE,NAIROBI,THIKA ROAD,MUTHAIGA,UNKNOWN,HIT AND RUN,UNKNOWN,M,A,98,PEDESTRIAN,1.0,2017-08-17
24,NaN,SUMMARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-17
25,NaN,NaN,CATEGORY,PEDESTRIAN,DRIVER,PASSENGER,P/PASSENGERS,P/CYCLIST,NaN,NaN,NaN,M/CYCLIST,TOTAL,NaN,2017-08-17
26,NaN,NaN,FATAL,11,0,0,1,0,NaN,NaN,NaN,1,13,NaN,2017-08-17
27,NaN,NaN,SERIOUS,2,2,2,0,0,NaN,NaN,NaN,0,6,NaN,2017-08-17
28,NaN,NaN,SLIGHT,1,1,7,1,0,NaN,NaN,NaN,0,10,NaN,2017-08-17
29,NaN,NaN,TOTAL,14,3,9,2,0,0,0,0,1,29,NaN,2017-08-17
30,1.0,2230,MAKONGENI,NAIROBI,JOGOO ROAD,CHURCH ARMY STAGE,KBW 726Y NISSAN,THE VEHICLE KNOCKED DOWN THE VICTIM,THOMAS OLUCHIRI,M,44,7,PEDESTRIAN,1.0,2017-09-17
31,2.0,1945,RUIRU,KIAMBU,EASTERN BY PASS,MEMBLEY,KAC 260H ISUZU MINIBUS,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,J,63,PEDESTRIAN,1.0,2017-09-17
32,3.0,2000,AHERO,KISUMU,AHERO AWASI,KABONGO,KBE 557Y TOYOTA HILLUX,THE VEHICLE LOST CONTROL AND ROLLED SEVERAL TIMES,UNKNOWN,M,A,26,PASSENGER,2.0,2017-09-17
33,4.0,1700,RUIRU,KIAMBU,THIKA NAIROBI,GITHURAI,KCA 277W ISUZU BUS,THE CONDUCTOR FELL FROM THE MOVING VEHICLE,SIMON NJUGUNA,M,A,73,PASSENGER,1.0,2017-09-17
34,5.0,1545,DIANI,KWALE,MBUGUNI CHECK POINT,KITEJE,KBQ 094K MIT LORRY,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,7,PEDESTRIAN,1.0,2017-09-17
35,NaN,SUMMARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-17
36,NaN,NaN,CATEGORY,PEDESTRIAN,DRIVER,PASSENGER,P/PASSENGERS,P/CYCLIST,NaN,NaN,NaN,M/CYCLIST,TOTAL,NaN,2017-09-17
37,NaN,NaN,FATAL,3,0,3,0,0,NaN,NaN,NaN,0,6,NaN,2017-09-17
38,NaN,NaN,SERIOUS,1,1,5,2,0,NaN,NaN,NaN,1,10,NaN,2017-09-17
39,NaN,NaN,SLIGHT,0,1,1,0,0,NaN,NaN,NaN,0,2,NaN,2017-09-17
40,NaN,NaN,TOTAL,4,2,9,2,0,0,0,0,1,18,NaN,2017-09-17
41,1.0,440,KILIMANI,NAIROBI,NGONG ROAD,ADAMS ARCADE,KCK 383K TOYOTA BELTA,THE VEHICLE KNOCKED DOWN THE VICTIM,MIRIAM WANJIRU,F,40,7,PEDESTRIAN,1.0,2017-08-17
42,2.0,2100,ATHI RIVER,MACHAKOS,NAIROBI MOMBASA,NATION CENTRE,KCF 629Q SUBARU FORESTER,THE VEHICLE KNOCKED DOWN THE VICTIM,ALEX MUTUNGA,M,30,60,PEDESTRIAN,1.0,2017-08-17
43,3.0,1430,MERU,MERU,MERU NKUBU,NGONYI,KCL 205P ISUZU LORRY,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,8,PEDESTRIAN,1.0,2017-08-17
44,4.0,1430,KAYOLE,NAIROBI,JOGOO ROAD,RASTA STAGE,KBL 253E ISUZU CANTER,THE VEHICLE KNOCKED DOWN THE VICTIM,FRANCISCA MIGWI,F,J,7,PEDESTRIAN,1.0,2017-08-17
45,5.0,1200,LAIKIPIA,LAIKIPIA,NANYUKI BARAKA,SLAUGHTER HOUSE,KMEA 640C TIGER,THE CYCLE KNOCKED DOWN THE VICTIM,JUDY WANGARI,F,A,63,PEDESTRIAN,1.0,2017-08-17
46,6.0,NaN,LARI,KIAMBU,LARI,LARI KIAMBU,KBL 326K SALOON,THE VEHICLE LOST CONTROL AND ROLLED SEVERAL TIMES,UNKNOWN,M,A,26,PASSENGER,1.0,2017-08-17
47,NaN,SUMMARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-17
48,NaN,NaN,CATEGORY,PEDESTRIAN,DRIVER,PASSENGER,P/PASSENGERS,P/CYCLIST,NaN,NaN,NaN,M/CYCLIST,TOTAL,NaN,2017-08-17
49,NaN,NaN,FATAL,5,0,1,0,0,NaN,NaN,NaN,0,6,NaN,2017-08-17

In [14]:
df_2017.columns

Index(['S/NO', 'TIME 24 HOURS', 'BASE/SUB BASE', 'COUNTY', 'ROAD', 'PLACE',
       'MV INVOLVED', 'BRIEF ACCIDENT DETAILS', 'NAME OF VICTIM', 'GENDER',
       'AGE', 'CAUSE CODE', 'VICTIM', 'NO.', 'Date'],
      dtype='object')